wp-content/themes/FictionalUniversity/node_modules
wp-content/ai1wm-backups
wp-content/ai1wm-backups_
wp-content/backups-dup-lite
wp-content/backups-dup-lite_
wp-content/themes/FictionalUniversity/functions_w_pw.php
